﻿
@{
    ViewBag.Title = "MovieInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{
    var link = item.imagePath;
    <section class="bg-primary" id="about">
        <div class="container-fluid">

            <div class="col-lg-8 col-sm-2">
                <a href="/Movies/?name=1" class="portfolio-box">
                    <img src="@item.miniImagePath" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div class="project-name">
                                @item.title
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <p>Rating  :@item.rating</p>
            <p>Length  :@item.length dk</p>
            <p>Release Year  :@item.releaseYear</p>
            <div class="col-lg-4 col-sm-2">
                Warcraft evreni, Blizzard Entertainment tarafından üretilen oyun serisinin ve yayınlanan kitapların konusunun geçtiği sanal evrendir. Yüzüklerin Efendisi Serisi kitaplarda ve filmlerde yer alan fantastik elemanlar ile Dungeons & Dragons oyununun rol yapma mekanizmalarının harmanlanmasıyla oluşmuştur.
                Warcraft oyun serisi şöyledir: Warcraft: Orcs & Humans, Warcraft II: Tides of Darkness, Warcraft III: Reign of Chaos ve World of Warcraft. Bu oyunlardan ilk üçü gerçek zamanlı strateji oyunu türüne girerken, serinin en popüler oyunu World of Warcraft ise devasa çok oyunculu çevrimiçi rol yapma oyunu türündedir. Warcraft II ve Warcraft III için birer genişleme paketi geliştirilmiş(Warcraft II: Beyond the Dark Portal, Warcraft III: Frozen Throne), World of Warcraft için ise şu ana kadar beş genişleme paketi çıkarılmıştır: The Burning Crusade, Wrath of the Lich King, Cataclysm, Mists Of Pandaria ve beşinci, aynı zamanda en yeni paketi olan Warlords of Draenor çıkmıştır. Oyun World of Warcraft başlığı altında devam ettirilirken bir yandan Dynamite Entertainment tarafından hikâyeden bağımlı, bağımsız olarak yapılan ve yeni ek paket olan WarMania serileri eklenmiştir fakat hâlâ yapım aşamasındadır.
            </div>
        </div>
    </section>
}