﻿@model FilmProje_1.tblAdmin

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Paneli Giriş</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Areas/Admin/Content/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
</head>
<body id="login">
    <div class="login-logo">
        <a href="index.html"><img src="~/Areas/Admin/Content/images/logo.png" alt="" /></a>
    </div>
    <h2 class="form-heading">film bilgi sistemi Admin paneli</h2>

    <div class="app-cam">
        <form>
            @ViewBag.GirisHata
            <input name="AdminName" id="AdminName"  type="text" class="text" value="Kullanıcı Adı" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Kullanıcı Adı'; }">
            <input name="AdminPass" id="AdminPass" type="password" value="Şifdfsdfsdfre" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Şifdfsdfsdfre'; }">
            <div class="submit"><input type="submit" value="Login"></div>
        </form>
    </div>
</body>
</html>
