﻿
@model FilmProje_1.tblAdmin
@{ 
    ViewBag.Title = "Admin Guncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Admin Guncelle</h2>
<div class="row">
    <h2 style="color:green;">@ViewBag.Mesaj</h2>
    <h2 style="color:red;">@ViewBag.Hata</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            Adı &nbsp;  &nbsp; @Html.TextBoxFor(x => x.AdminName)&nbsp; &nbsp;</p><br>
        <p><br>Şifre &nbsp;  @Html.PasswordFor(x => x.AdminPass)&nbsp; &nbsp;</p>
        <br>
        <p>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">  Güncelle  </button>
        
        </p>
    }
</div>
