﻿@model IEnumerable<Film>
@{
    Layout = null;
} 

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-sm-6">
                        <a href="/Movies/MovieInfo/?name=@item.imagePath" class="portfolio-box">
                            <img src="@item.miniImagePath" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-name">
                                        @item.title
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                
            </div>
        </div>
    </section>
