﻿@model IEnumerable <Film>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   
 

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6">
                        <a href="/Movies/MovieInfo/?name=@item.imagePath" class="portfolio-box">
                            <img src="@item.miniImagePath" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-name">
                                        @item.title
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
              
               @*<div class="col-lg-4 col-sm-6">
        <a href="C:\Users\Benn\Documents\Visual Studio 2015\Projects\FilmProje_1\FilmProje_1\Content\img\portfolio\fullsize\1.jpg" class="portfolio-box">
            <img src="~/Creative_0/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        Project Name
                    </div>
                </div>
            </div>
        </a>
    </div>*@
                @*<div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Creative_0/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="~/Creative_0/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@
            </div>
        </div>


    </section>


