﻿@model List<FilmProje_1.Film>
@{
    ViewBag.Title = "Filmler";
}
<div class="row">
    <div class="bs-example4" data-example-id="contextual-table">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Resim</th>
                    <th>Film Adı</th>
                    <th>Kategori</th>
                    <th>Yorum </th>
                    <th>Film Bilgisi </th>
                    <th>İşlem </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0; }
                @foreach (var item in Model)
                {
                    i++;
                    <tr class="active">
                        <th scope="row">@i</th>
                        <td><img src="@item.miniImagePath" height="100" width="200"></td>
                        <td>@item.title</td>
                        <td>@item.length</td>
                        <td>@item.descripton</td>
                        <td>@item.title</td>
                        <td>
                            @Html.ActionLink("Sil", "Sil", "Film", new { area = "Admin", id = item.filmID }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Güncelle", "Guncelle", "Film", new { area = "Admin", id = item.filmID }, new { @class = "navbar-brand" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>